# Data Preparation

In [103]:
import IPython
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib
from sklearn.naive_bayes import GaussianNB

In [104]:
msg_df = pd.read_csv('spam.csv', encoding='cp1252')
msg_df = msg_df.drop(msg_df.columns[[2, 3, 4]], axis=1)

In [105]:
msg_df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [106]:
# 
for index, row in msg_df.iterrows():
        if row["v1"] == "ham":
            row["v1"] = 0
        else:
            row["v1"] = 1

In [107]:
msg_df.head()

  v1                                                 v2
0  0  Go until jurong point, crazy.. Available only ...
1  0                      Ok lar... Joking wif u oni...
2  1  Free entry in 2 a wkly comp to win FA Cup fina...
3  0  U dun say so early hor... U c already then say...
4  0  Nah I don't think he goes to usf, he lives aro...

In [108]:
# Split a message into its individual words
def split_into_tokens(message):
    message = message.split(" ") 
    return message

In [109]:
msg_df.v2.apply(split_into_tokens).head()

0    [Go, until, jurong, point,, crazy.., Available...
1                 [Ok, lar..., Joking, wif, u, oni...]
2    [Free, entry, in, 2, a, wkly, comp, to, win, F...
3    [U, dun, say, so, early, hor..., U, c, already...
4    [Nah, I, don't, think, he, goes, to, usf,, he,...
Name: v2, dtype: object

In [117]:
df = msg_df.copy()
df = df.v2.apply(split_into_tokens)
# df.head()
df = pd.DataFrame(df)
df["v1"] = msg_df["v1"]
df.head()

                                                  v2 v1
0  [Go, until, jurong, point,, crazy.., Available...  0
1               [Ok, lar..., Joking, wif, u, oni...]  0
2  [Free, entry, in, 2, a, wkly, comp, to, win, F...  1
3  [U, dun, say, so, early, hor..., U, c, already...  0
4  [Nah, I, don't, think, he, goes, to, usf,, he,...  0

In [111]:
from collections import Counter
for index, row in df.iterrows():
    counts = Counter(row(v2))
    print(counts)

NameError: name 'v2' is not defined