# Data Preparation

In [23]:
import IPython
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib
from sklearn.naive_bayes import GaussianNB

In [24]:
msg_df = pd.read_csv('spam.csv', encoding='cp1252')
msg_df = msg_df.drop(msg_df.columns[[2, 3, 4]], axis=1)

In [25]:
msg_df.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [26]:
# 
for index, row in msg_df.iterrows():
        if row["v1"] == "ham":
            row["v1"] = 0
        else:
            row["v1"] = 1

In [27]:
msg_df.head(10)

  v1                                                 v2
0  0  Go until jurong point, crazy.. Available only ...
1  0                      Ok lar... Joking wif u oni...
2  1  Free entry in 2 a wkly comp to win FA Cup fina...
3  0  U dun say so early hor... U c already then say...
4  0  Nah I don't think he goes to usf, he lives aro...
5  1  FreeMsg Hey there darling it's been 3 week's n...
6  0  Even my brother is not like to speak with me. ...
7  0  As per your request 'Melle Melle (Oru Minnamin...
8  1  WINNER!! As a valued network customer you have...
9  1  Had your mobile 11 months or more? U R entitle...

In [34]:
# Split a message into its individual words
def split_into_tokens(message):
    message = decode(message, 'utf8')  # convert bytes into proper unicode
    return TextBlob(message).words

In [35]:
msg_df.v2.apply(split_into_tokens)

NameError: name 'decode' is not defined